<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Host Manager</title>
    <link rel="stylesheet" href="stylesheets/first.css" >
</head>
<body>
    <header>
        <div class="header-left">WebHostManager</div>
        <div class="header-right">
            <a href="#">Domain</a>
            <a href="/login">Login</a>
        </div>
    </header>
    <h1>Plans you can buy</h1>
    <div class="main">
            <div class="plan">
                <ul>
                    <li><p>Upto 70% off</p></li>
                    <li><p>Free Domain</p></li>
                    <li>Renewal Option</li>
                    <li><p>24/7 Customer Support</p></li>
                    <li><p>Buying price:Rs 400</p></li>
                    <li><p>20 websited hosted</p></li>
                    <li><p>120 gb storage utilised</p></li>
                    <li> <p>Free email</p></li>
                    <li><p>Free CDN</p></li>
                    <li><p>Expire after 1 month</p></li>
                    <li><p>Dedicated IP Address</p></li>
                    <li><p>Weekly backup available</p></li>
                    <li><p>Recharge price is same as buying price</p></li>
                </ul>
                <h2 class="price">Rs 199.00</h2>
                <button><a href="/profile" class="start">Start Now</a></button>
            </div>
            <div class="plan">
                <ul>
                    <li><p>Upto 70% off</p></li>
                    <li><p>Free Domain</p></li>
                    <li>Renewal Option</li>
                    <li><p>24/7 Customer Support</p></li>
                    <li><p>Buying price:Rs 400</p></li>
                    <li><p>20 websited hosted</p></li>
                    <li><p>120 gb storage utilised</p></li>
                    <li> <p>Free email</p></li>
                    <li><p>Free CDN</p></li>
                    <li><p>Expire after 1 month</p></li>
                    <li><p>Dedicated IP Address</p></li>
                    <li><p>Weekly backup available</p></li>
                    <li><p>Recharge price is same as buying price</p></li>
                </ul>
                <h2 class="price">Rs 199.00</h2>
                <button><a href="/profile" class="start">Start Now</a></button>
            </div>
            </div>
    <footer>
        <p>Made by Arya</p>
    </footer>
</body>
</html>
